* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/*----------HEADER--------------*/
header {
    background-color: #171616;
    text-align: center;
}

.logo-header {
    height: 36px;
    border-radius: 50%;
}

.navbar-header {
    padding: 10px 15px;
}

.navbar-header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    margin: 15px 0 10px 0;
}

.navbar-header a {
    text-decoration: none;
    color: white;
}

.navbar-header a:hover {
    color: #5f7535;
    transition: .3s;
}

/*----------MAIN--------------*/
main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

/* CONTAINER-LEFT*/
.container-left {
    width: 30%;
    background-color: #F0F0F0;
    padding: 25px 0px;
    box-shadow: -5px 0 5px #767575;
    border: 1px solid #ddd;
    text-align: center;
}

.container-left img {
    width: 50%;
    border-radius: 50%;
}

.container-left h1 {
    font-size: 25px;
}

.container-left h2 {
    color: #3166CF;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.container-left ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 700;
}

.container-left a {
    text-decoration: none;
    color: black;
}

.container-left a:hover {
    color: #3166CF;
    text-decoration: underline;
}

/* CONTAINER-IMAGEM*/
.container-img {
    width: 69%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.row-one img {
    width: 100%;
}

.row-nine img {
    width: 10%;
}

.row-four img {
    width: 23%;
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 10%;
}  

.grow-size:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}  


/*----------FOOTER--------------*/
footer {
    background-color: #171616;
    text-align: center;
    padding: 15px;
}

.navbar-footer {
    width: 80%;
    margin: 0px auto;
}

.navbar-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    gap: 15px;
    font-size: 12px;
}

.navbar-footer a {
    text-decoration: none;
    color: white;
}

.navbar-footer a:hover {
    color: #767575;
    transition: .3s;
}